@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

:root {
    --font-kanit: "Kanit", sans-serif;
    --font-roboto:  "Roboto Condensed", sans-serif;
    --font-edu:  "Edu AU VIC WA NT Hand", cursive;
    --base-color: #424242;
    --secondary-color: linear-gradient(90deg, rgba(53,53,53,1) 0%, rgba(40,40,40,1) 50%, rgba(27,27,27,1) 100%);
    --border-skills: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 50%, rgba(85,85,85,1) 100%);
    --text-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background: var(--secondary-color);
}

/* NAVBAR */

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0; /* Fixa a navbar no topo */
    height: 80px; /* Definindo uma altura fixa para a navbar */
    width: 100%;
    background: linear-gradient(90deg, rgba(53,53,53,0.7) 0%, rgba(40,40,40,0.7) 50%, rgba(27,27,27,0.7) 100%);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgb(87, 87, 87);
    transition: box-shadow 0.3s ease; /* Transição suave */
    z-index: 1;
}

.navbar a {
    font-family: var(--font-kanit);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: var(--base-color);
}

.hamburguer {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--text-color);
    margin-right: 15px;
}

.logo {
    margin-left: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(20, 20, 20, 0.93);
    border-radius: 0px 0px 10px 10px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.menu.show {
    transform: translateX(0);
}

.hidden {
    transform: translateX(101%);
}

img.transition {
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
}

img.transition.zoom-out {
    transform: scale(0);
}

.container-menu {
    margin-top: 80px;
}

.menu a {
    font-size: 20px;
    display: block;
    text-align: center;
}


/* SECTIONS */

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
}


/* ME SECTION */

.container-me {
    font-family: var(--font-roboto);
    color: var(--text-color);
}

.title-me h1{
    font-size: 42px;
    letter-spacing: 2px;
    margin: 0;
}

.title-me p {
    font-size: 19px;
    margin: 15px 0px 20px 0px;
}

.slide-text {
    display: inline-block;
    animation: pulse-glow 2s infinite;
    color: #ffffff;
}

.separator {
    border: 1px solid var(--text-color);
    margin: 0px -15px 0px -15px;
    border-radius: 10px;
}

.container-icons-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

@keyframes pulse-glow {
    0% {
        transform: translateX(0);
        text-shadow: 0 0 3px #ff0000, 0 0 6px #ff0000, 0 0 9px #ff0000, 0 0 12px #ff0000, 0 0 15px #ff0000, 0 0 18px #ff0000, 0 0 21px #ff0000;
    }
    33% {
        transform: translateX(20px);
        text-shadow: 0 0 6px #ff0000, 0 0 12px #ff0000, 0 0 18px #ff0000, 0 0 24px #ff0000, 0 0 30px #ff0000, 0 0 36px #ff0000, 0 0 42px #ff0000;
    }
    66% {
        transform: translateX(-20px);
        text-shadow: 0 0 6px #ff0000, 0 0 12px #ff0000, 0 0 18px #ff0000, 0 0 24px #ff0000, 0 0 30px #ff0000, 0 0 36px #ff0000, 0 0 42px #ff0000;
    }
    100% {
        transform: translateX(0);
        text-shadow: 0 0 3px #ff0000, 0 0 6px #ff0000, 0 0 9px #ff0000, 0 0 12px #ff0000, 0 0 15px #ff0000, 0 0 18px #ff0000, 0 0 21px #ff0000;
    }
}


/* ABOUT SECTION */

.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 30px 20px 45px 20px;
}

.title-about {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.title-about h1{
    font-family: var(--font-roboto);
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 0;
    letter-spacing: 3px;
}

.title-about p {
    font-family: var(--font-edu);
    margin: 0;
    font-size: 17px;
}

.card-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: var(--base-color);
    border: 1px solid var(--text-color);    
}

.photo {
    border-radius: 150px;
    margin: 25px 0px 25px 0px;
    border: 2px solid var(--text-color);
}

.text-about {
    font-family: var(--font-roboto);
    font-weight: 600;
    color: #ffffff;
    margin: 0px 20px 20px 20px;
}

.text-about h1{
    font-size: 28px;
    margin-bottom: 20px;
}

.text-about p{
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
    gap: 10px;
    font-size: 18px;
}

.text-about a button:hover {
    background-color: rgb(145, 145, 145);
}

.text-about a button{
    margin-top: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;
    border-radius: 20px;
    padding: 7px;
    background-color: var(--base-color);
    border: 2px solid var(--text-color);
}

.text-about a button span{
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}


/* SKILLS SECTION */

.container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 50px 0 85px 0;
}

.title-skills {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.title-skills h1{
    font-family: var(--font-roboto);
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    letter-spacing: 3px;
}

.title-skills p {
    font-family: var(--font-edu);
    margin: 0;
    font-size: 17px;
}

.container-skills-icon {
    display: flex;
    justify-content: center;
}

.skills-animate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    gap: 50px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s, opacity 1s;
}

.skills-animate.visible {
    opacity: 1;
    transform: translateX(0);
}

.skill {
    position: relative;
    display: inline-block;
    color: var(--text-color);
    font-family: var(--font-kanit);
    background-color: var(--base-color);
    border-radius: 30px 4px 4px 4px;
    width: 105px;
    padding-bottom: 17px;
}

.skill:hover {
    transform: scale(1.1);
}

.skill::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 50%, rgba(85,85,85,1) 100%);
    border-radius: 0px 0px 4px 4px;
}


/* CONTACT SECTION */

.container-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 35px 0px 50px 0px;
    gap: 30px;
}

.title-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.title-contact h1{
    font-family: var(--font-roboto);
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 0;
    letter-spacing: 3px;
}

.send-message-text {
    font-family: var(--font-edu);
    margin: 0;
    font-size: 17px;
}

.email-text {
    margin-top: 40px;
    font-family: var(--font-roboto);
    font-size: 15px;
}

.title-contact p strong{
    color: #ff0000;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.email-form input, .email-form textarea {
    width: 75%;
    resize: none;
    padding: 10px;
    background-color: var(--base-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    color: var(--text-color);
    font-family: var(--font-roboto);
    font-size: 15px;
}

.email-form input {
    height: 35px;
}

.email-form textarea {
    height: 120px;
}

.email-form input::placeholder, .email-form textarea::placeholder {
    font-family: var(--font-roboto);
    font-size: 17px;
    color: var(--text-color);
    padding: 0px 0px 0px 5px;
}

.email-form button:hover {
    background-color: rgb(145, 145, 145);
}

.email-form button {
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    gap: 10px;
    background-color: var(--base-color);
    border: 1px solid var(--text-color);
    cursor: pointer;
}

.email-form button span {
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    background-color: rgb(20, 20, 20);
    gap: 20px;
}

.text-footer {
    display: flex;
    flex-direction: column;
    font-family: var(--font-roboto);
    color: var(--text-color);
}

.text-footer a{
    color: inherit;
}

.text-footer h2{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}

.text-footer p{
    font-size: 12px;
    margin-top: 0;
}

.icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#me{
    min-height: calc(-80px + 100vh);
    margin-top: 80px;
}

/* 367px- */

@media (max-width: 367px) {

    /* ABOUT SECTION */

    .text-about p{
        font-size: 15px;
    }

}


/* 800px+ */

@media (min-width: 800px) {
    /* NAVBAR   */

    .hamburguer {
        display: none;
    }

    .logo {
        margin-left: 5px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
        margin-right: 20px;
        transform: translateX(0);
    }

    .container-menu {
        margin-top: 0px;
    }

    .menu a {
        display: inline;
        font-size: 18px;
    }
    

    /* ME SECTION */

    .title-me h1{
        font-size: 65px;
    }

    .title-me p {
        font-size: 27px;
        margin: 15px 0px 20px 0px;
    }
        
    .separator {
        margin: 0px -25px 0px -25px;
    }


    /* ABOUT SECTION */

    .container-about {
        margin: 60px 0px 60px 0px;
    }
  
    .title-about h1{
        font-size: 50px;
    }
    
    .title-about p {
        font-size: 20px;
    }

    .card-about {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;    
    }

    .photo {
        margin: 25px 0px 25px 30px;
    }

    .text-about {
        margin-right: 40px;
    }

    .text-about a button{
        width: 350px;
    }
    

    /* SKILLS SECTION */

    .container-skills {
        margin: 70px 0 85px 0;
    }

    .title-skills h1{
        font-size: 50px;
    }

    .title-skills p {
        font-size: 20px;
    }

    .skills-animate {
        justify-content: flex-start;  
    }

    .skill {
        width: 120px;
    }


    /* CONTACT SECTION */

    .container-contact {  
        margin: 60px 0px 65px 0px;  
    }

    .title-contact h1{
        font-size: 50px; 
    }
    
    .send-message-text {
        font-size: 20px;
    }
    
    .email-text {
        font-size: 16px;
    }

    .email-form input {
        width: 500px;
    }
    
    .email-form textarea {
        width: 650px;
    }

    .email-form button {
        width: 250px;
        height: 40px;
    }


    /* FOOTER */

    .footer {
        flex-direction: row;
        gap: 25%;
        height: 130px;
    }

    .text-footer h2{
        margin-top: 10px;
    }
}
