:root {
    --base-color: #6c757d;
    --secondary-color: #495057;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
}

.navbar-conatiner{
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: var(--secondary-color);
}

.navbar a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: var(--base-color);
}

.logo {
    font-size: 1.5em;
    color: white;
}

.hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 59px; /* navbar tem 60 */
    right: 0;
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 0px 0px 10px 10px;
}

.menu a {
    display: block;
    text-align: center;
}

.section {
    height: 100vh; /* Altura de cada seção = altura total da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home {
    background-color: #f4f4f4;
}

#servicos {
    background-color: #ddd;
}

#sobre {
    background-color: #bbb;
}

#contato {
    background-color: #999;
}

@media (min-width: 600px) {
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }
    .menu a {
        display: inline;
    }
}
